<!DOCTYPE html>
<html lang="en">
  {% include head.html %}
  <body>
    <nav>{% include nav.html %}</nav>
    {%- if page.lang == 'fa' -%}
      <div class="wrapper" dir="rtl">
        <main>{{ content }}</main>
        <footer>{% include footer.html %}</footer>
      </div>
    {%- else -%}
      <div class="wrapper" dir="auto">
        <main><bdi>{{ content }}</bdi></main>
        <footer>{% include footer.html %}</footer>
      </div>
    {%- endif -%}

    {% include link-previews.html wrapperQuerySelector="content" %}
  </body>
</html>
